## Compiled JavaScript files
**/*.js
**/*.js.map

## Keep jest config
!jest.config.js

# Typescript v1 declaration files
typings/

node_modules/

.env
environment.d.ts
.runtimeconfig.json
firebase-debug.log
